.food-display {
    margin-top: 30px;
}

.food-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}
.line {
    text-align: center;
    animation: smooth-blink 4s infinite;
}

@keyframes smooth-blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@supports (animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1)) {
    .line {
        animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    }
}
